<table>
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Activa </th>
            {{!-- Columna Acciones: SOLO ADMIN --}}
            {{#if user.administrador}}
            <th>Acciones</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each categorias}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{descripcion}}</td>
            <td>{{activa}}</td>
            {{!-- Celdas de Acciones: SOLO ADMIN --}}
            {{#if ../user.administrador}}
            <td>
                <button>Status</button>
                <a href="/editarCategoria/{{_id}}">Editar</a>
                <a href="/eliminarCategoria/{{_id}}">Eliminar</a>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>